<a href="https://colab.research.google.com/github/ajal4302/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 2

In [1]:
 
Name ="AJAL MANOHAR O"
Address ="PARAPPANANGADI, MALAPPURAM"
Telephone_no ="1112223334"
print(" Name:"+Name+"\n","Address:"+Address+"\n","Telephone no:"+Telephone_no)

 Name:AJAL MANOHAR O
 Address:PARAPPANANGADI, MALAPPURAM
 Telephone no:1112223334

Question 3

In [2]:
 print("Your name is",Name)

Your name is AJAL MANOHAR O

Question 4

In [4]:
 
#area of a rectangle 
Width = float(input("Enter the width: ")) 
Height = float(input("Enter the height: ")) 
area =Width * Height
print("The area is",area, "Square units")

Enter the width: 10
Enter the height: 20
The area is 200.0 Square units

Question 5

In [6]:
 
#area of a triangle 
Base= float(input("Enter the base: "))
Height= float(input("Enter the height: ")) 
area = .5*Base*Height
print("The area is",area, "square units")

Enter the base: 15
Enter the height: 6
The area is 45.0 square units

 Question 6

In [7]:
 
#area of a circle
radius = float(input("Enter the radius: ")) 
area = 3.14*radius**2
print("The area is", area, "square units")

Enter the radius: 6
The area is 113.04 square units

Question 7

In [8]:
 
Name = input("Enter your name: ") 
Age =input("Enter your age: ") 
print("My name is "+Name+" and my age is "+Age)

Enter your name: AJAL MANOHAR O
Enter your age: 18
My name is AJAL MANOHAR O and my age is 18

Question 8

In [9]:
 
a= float(input("Enter a number: ")) 
a=a+1
print(a)

Enter a number: 99
100.0

Question 9

In [10]:
 
Name = input("Enter your first name: ") 
print(Name)

Enter your first name: OOPPATH
OOPPATH